<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login Selection</title>
     <link rel="stylesheet" href="/css/auth/login.css">
    
</head>

<body>

    <div class="login-box">

        <div class="logo">
            <img src="/image/logo.png" alt="Logo">
        </div>

        <div class="login-title">Login</div>

        <div class="btn-container">
            <a href="/adminlogin">
                <div class="role-btn">Admin</div>
            </a>
            <a href="/teacherLogin">
                <div class="role-btn">Teacher</div>
            </a>
            <a href="/coordinatorLogin">
                <div class="role-btn">Co-ordinator</div>
            </a>
        </div>

    </div>

</body>

</html>