<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teacher Login</title>
     <link rel="stylesheet" href="/css/auth/teacherlogin.css">
</head>

<body>

    <form action="/login" method="POST">
    <div class="login-card">
        <div class="login-title">Teacher Login</div>

        <input type="hidden" name="role" value="teacher" />

        <div class="input-group">
            <label>Email</label>
            <input type="email" name="email" required>
        </div>

        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password" required>
        </div>

        <button class="login-btn" type="submit">Login</button>
        <p class="error-message"><%=msg%></p>
    </div>
</form>


</body>

</html>