.main-content {
  margin-left: 220px;
  padding: 40px 30px;
  min-height: 100vh;
  background: #f8f9fa;
}

/* Card base */
.dashboard-card {
  /* border-radius: 14px; */
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover effect */
.dashboard-card:hover {
  background-color: #90acd2; /* light professional blue */
  transform: translateY(-6px);
}

.dashboard-card:hover h6,
.dashboard-card:hover h3,
.dashboard-card:hover i {
  color: #ffffff !important;
}

/* Remove default link styles */
.dashboard-link {
  text-decoration: none;
  color: inherit;
  display: block;
}
.mobile-logo {
  z-index: 1050;
}

.mobile-logo-img {
  height: 40px;
  width: auto;
}

.mobile-topbar {
  z-index: 1100;
}
/* Hide navbar on mobile */
@media (max-width: 767.98px) {
  .navbar {
    display: none !important;
  }
   .main-content {
    padding-top: 75px;
  }
}
