 #sidebar {
      width: 220px;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      background: #343a40;
      padding-top: 20px;
      color: #fff;
    }

    .main-content {
      margin-left: 220px;
      padding: 20px;
      min-height: 100vh;
      background: #f8f9fa;
    }

    .card {
      border-radius: 12px
    }

    a {
      text-decoration: none;
      color: #343a40;
    }